* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "gilroy", sans-serif;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  border-radius: 10px;
  position: absolute;
  height: 60px;
  width: 300px;
  color: rgb(87, 86, 86);
  font-size: 17px;
  padding-left: 30px;
  top: 150px;
  left: 39%;
  outline: none;
}

.container {
  margin-top: 100px;
  width: 60%;
  height: 45%;
  border-radius: 25px;
  background-color: rgb(82, 81, 81);
  display: flex;
  overflow: hidden;
  color: white;
}

.left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 50%;
  border-radius: 50%;
  border: 7px solid white;
  margin-bottom: 50px;
  margin-left: 50px;
}

.right {
  width: 65%;
  display: flex;
  display: inline-grid;
}

#name {
  font-size: 30px;
  font-weight: 600;
  padding-top: 70px;
  margin-left: 12px;
}

#description {
  font-size: 18px;
  padding-bottom: 50px;
  padding-left: 15px;
}

#hero {
  height: 60px;
  width: 390px;
  margin-left: 12px;
  margin-bottom: 60px;
  font-size: 18px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  input {
    top: 80px;
    left: 20%;
  }

  .container {
    
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    ;
  }

  .left {
    width: 100%;
    height: 30%;
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {

    height:140%;
    border-radius: 50%;
    border: 10px solid white;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
